{% extends "layout.html" %}

{% block head %}
<title>Houses In TISB</title>
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}
<header class="py-5 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="">Houses</h1>
      </p>
    </div>
  </div>
</header>

<!-- Cards -->
<a href="house/disco">
<div class="container">
  <div class="card disco">
    <div class="box">
      <div class="content">
        <h2>{{ house_points["disco"][0][0] }}</h2>
        <h3>Discovers</h3>
      </div>
    </div>
  </div>
</a>
<br>
  <a href="house/voya">
  <div class="card voya">
    <div class="box">
      <div class="content">
        <h2>{{ house_points["voya"][0][0] }}</h2>
        <h3>Voyagers</h3>
      </div>
    </div>
  </div>
</a>
<a href="house/expo">
  <div class="card expo">
    <div class="box">
      <div class="content">
        <h2>{{ house_points["expo"][0][0] }}</h2>
        <h3>Explorers</h3>
      </div>
    </div>
  </div>
</a>
<a href="house/pio">
  <div class="card pio">
    <div class="box">
      <div class="content">
        <h2>{{ house_points["pio"][0][0] }}</h2>
        <h3>Pioneers</h3>
      </div>
    </div>
  </div>
</div>
</a>

{% endblock %}